<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/conteudo.css">
</head>
<body>
    
    <section class="content">

        <div class="cursos starter" id="64c237ccff807c054339a62d53b4b402.svg"> 
            <div class="curso__image">
                <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter">
            </div>
            <div class="curso__info">
                <p class="addstarter">Torne-se um programador desejado</p>
                <p>no mercado com esses cursos gratuitos!</p>
            </div>
            <!-- <div class="botao__starter">
                <p>Comece agora</p>
            </div> -->
        </div>

        <div class="cursos launchbase" id="0828532024cb46921a6b5e941f8d788d.svg">
            <div class="curso__image">
                <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="LaunchBase">
            </div>
            <div class="curso__info">
                <p class="addlaunchbase">Domine programacao do zero</p>
                <p>e tenha as melhores oportunidades do mercado</p>
            </div>
            <!-- <div class="botao__launchbase">
                <p><strong>Garanta sua vaga</strong> para a proxima turma!</p>
            </div> -->
        </div>

        <div class="cursos gostack">
            <div class="curso__image">
                <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="GoStack">
            </div>
            <div class="curso__info">
                <p class="addgostack">Treinamento imersivo</p>
                <p>nas tecnologias mais modernas de desenvolvimento web e mobile</p>
            </div>
            <div class="botao__gostack">
                <p><strong>Garanta sua vaga</strong> para a proxima turma!</p>
            </div>
        </div>  
    </section>
s

    <script src="/modal.js"></script>
</body>
</html>